.nav-bar {
    position: relative;
    height: auto;
    width: calc(90vm - 1rem);
    max-width: calc(1200px - 1rem);
    margin-bottom: 35px;
    padding: 0.95rem max(5vw, calc(50vw - 600px));
    display: flex;
    align-items: center;
    gap: 2.5rem;
    z-index: 1;
    a {
        padding-left: 35px;
        outline: none;
        text-decoration: none;
        color: #a200ff;
    }
    a:visited {
        color: #a200ff;
    }
    a:hover {
        color: #00ff00;
    }

}

.logo-img{

    
    width: calc(50% - 3.5rem);
    max-height: calc(1200px - 1rem);
}
